<%= render 'pages/header' %>
<section id="meeting-and-navigation">
  <div class="container">
    <div class="nav">
      <div class="nav-item">
        <%= link_to '#' do %>
          <%= mega_octicon('calendar') %>
          <span class="nav-description">Meetings</span>
        <% end %>
      </div>

      <div class="nav-item">
        <%= link_to about_path do %>
          <%= mega_octicon('organization') %>
          <span class="nav-description about-large">About Us</span>
          <span class="nav-description about-mobile">About</span>
        <% end %>
      </div>

      <div class="nav-item">
        <%= link_to '#' do %>
          <%= mega_octicon('pencil') %>
          <span class="nav-description">Tutorials</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container next-meeting">
    <h1><span id="next-meeting" class="mega-octicon octicon-calendar"></span> Next Meeting: <span class="meeting-date">Wednesday, October 22nd, 2014</span></h1>
    <div class="presentation">
      <span><%= mega_octicon('clock') %> 7:00<span>-</span></span>
      <span>Projects! Week 7</span>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">
    <div class="info-column">
      <%= mega_octicon('organization') %>
      <h2>WHO WE ARE</h2>
      <p>Collegiate Web Developers are a collection of students, graduates and alumni at the Ohio State University who are making an effort to improve the web. We work hard to make ourselves, and others, better developers.</p>
    </div>

    <div class="info-column">
      <%= mega_octicon('person') %>
      <h2>HOW CAN I JOIN?</h2>
      <p>If you are an OSU student who wants to get involved in web development this club is for you. It doesn't matter if you are an experienced developer or a beginner. CWDG offers something for all skill levels.</p>
    </div>

    <div class="info-column">
      <%= mega_octicon('checklist') %>
      <h2>MEETING TIMES</h2>
      <p>Meeting times are every Wednesday at 7:00pm in Dreese Labs, Room 260. Sometimes these meetings will be tutorials or other small projects while other days there might be a guest speaker. <a href="http://eepurl.com/GBJFv">Join the mailing list</a> to see what is coming up.</p>
    </div>
  </div>
</section>

<section id="getting-started">
  <div class="container">
    <h2>How do I get started?</h2>

    <p>The best way to get started is to show up to our meetings. We generally shoot for a split meeting format. The first hour we will present a topic to the members. The second hour is for them to explore that topic on their own laptop to gain experience.</p>
    <p>Before you attend your first meeting, it is recommended you follow our <a href="#">Developer Setup Tutorial</a> so you can be productive as soon as you start.</p>
    <p>You may also want to familiarize yourself with the <a href="http://ruby-lang.org">Ruby Programming Language</a> or look over our past meeting materials to familarize yourself with the topics you have missed.</p>
    <p>We hang out in <a href="https://webchat.freenode.net/?channels=cwdg">#cwdg</a>, an IRC channel on Freenode. Feel free to ask questions and join in discussions.</p>
    <p>If you do nothing else, <a href="http://eepurl.com/GBJFv">Sign Up For The Mailing List</a> so we can let you know about all the sweet things.</p>

    <%= link_to "JOIN THE MAILING LIST", "http://eepurl.com/GBJFv", class: "button"%>
  </div>
</section>
